  <head lang="jp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}: {{ version }}</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          rel="stylesheet">

    <link rel="stylesheet" href="/ytsched/static/css/my.css">

    <script type="text/javascript" src="/ytsched/static/js/my_cookie.js">
    </script>
    <script type="text/javascript" src="/ytsched/static/js/my.js"></script>

    <title>{{ title }}: {{ version }}</title>
  </head>
