{% extends "base.html" %}
{% block content %}
<header>
  <script>
    window.addEventListener('load', function() {
        console.log(`window.onload()`);

        const el = document.getElementById("cur_day");
        scrollToDate(location.pathname, el.value);
    });
    
    window.addEventListener('scroll', function() {
        const y = window.pageYOffset;
        const tail = window.pageYOffset + window.innerHeight;
        const bodyH = document.body.clientHeight;
        console.log(`${y}-${bodyH - tail}`);
        
        if (y < 70) {
            el = document.getElementById("date_from");
            date = el.value;
            console.log(`date=${date}`);
            doPost('/ytsched/', {date: date, top_bottom: "top"});
        }
        if (bodyH - tail < 25) {
            el = document.getElementById("date_to");
            date = el.value;
            console.log(`date=${date}`);
            doPost('/ytsched/', {date: date, top_bottom: "bottom"});
        }
    });
  </script>
                        
  <input id="top_bottom" name="top_bottom"
         type="hidden" value="{{ top_bottom }}" />
  <input id="date_from" name="date_from"
         type="hidden" value="{{ date_from }}" />
  <input id="cur_day" name="cur_day"
         type="hidden" value="{{ date }}" />
  <input id="date_to" name="date_to"
         type="hidden" value="{{ date_to}}" />

  <!-- menu bar -->
  <div class="container-fluid p-0 fixed-top my-bar">
    <div class="row m-0" style="z-index:100">

      <!-- home -->
      <div class="col-2 p-0 text-center">
        <i class="fas fa-circle-notch fa-2x fa-spin"
           onmousedown="scrollToDate(
                        '{{ url_prefix }}', '{{ today }}');" ></i>
        <!-- 
        <i class="fas fa-home fa-2x"
           onmousedown="scrollToDate(
                        '{{ url_prefix }}', '{{ today }}');" ></i>
        -->
      </div><!-- col -->
      
      <!-- add -->
      <div class="col-2 p-0 text-center"
           onmousedown="doPost(
                        '{{ url_prefix + 'edit/' }}',
                        {date: '{{ date }}', sde_id: ''} );">
        <i class="fas fa-plus-square fa-2x"></i>
      </div><!-- col -->

      <!-- search -->
      <div class="col-6 p-0 text-center" style="font-size: medium;">
        <form id="form_search" name="form_search"
              action="{{ url_prefix }}" method="POST">

          <input id="search" name="search" type="text" size="10"
                 style="font-size: medium; vertical-align: middle;"/>

          <i class="fas fa-search fa-2x"
             style="vertical-align: middle;"
             onmousedown="document.form_search.submit();"></i>
          <!-- spin
          <i class="fas fa-search fa-2x fa-spin"
             style="vertical-align: middle;"
             onmousedown="document.form_search.submit();"></i>
          -->

        </form>
      </div><!-- col -->

      <!-- menu -->
      <div class="col-2 p-0 text-center" style="font-size: x-small;">
        <label for="menu-sw" class="m-0">
          <i class="fas fa-bars fa-3x"></i></label>
      </div><!-- col -->

    </div><!-- row -->
    <input id="menu-sw" type="checkbox" style="display:none;">
    <div id="menu-content" class="row m-0 my-bar my-bar-content"
         style="z-index:80">

      <!-- date -->
      <div class="col-5 p-0 text-center">
        <input id="date" name="date"
               type="date" value="{{ date }}"
               onchange="doPost('{{ url_prefix }}',{date:this.value});"/>
      </div><!-- col -->
        
      <!-- ToDo days -->
      <div class="col-3 p-0 text-center">
        <form id="todo_days_form" name="todo_days_form"
              action="{{ url_prefix }}" method="POST">
          <i class="fas fa-list-alt fa-lg"
             style="vertical-align: middle;"></i>
          <select id="todo_days" name="todo_days"
                  style="vertical-align: middle;"
                  onchange="document.todo_days_form.submit();">
            {% for opt in todo_days_list %}
            {% if todo_days_list[opt] == todo_days_value %}
            <option value="{{ todo_days_list[opt] }}" selected>
              {{ opt }}
            </option>
            {% else %}
            <option value="{{ todo_days_list[opt] }}">
              {{ opt }}
            </option>
            {% end %}
            {% end %}
          </select>
        </form>
      </div><!-- col -->

      <!-- filter -->
      <div class="col-4 p-0 text-center" style="font-size: small;">
        <form id="form_filter" name="form_filter"
              action="{{ url_prefix }}" method="POST">
          <input id="filter" name="filter" type="text" size="5"
                 style="vertical-align: middle;"
                 style="font-size: medium;"/>
          <i class="fas fa-filter fa-2x" style="vertical-align: middle;"
             onmousedown="document.form_filter.submit();"></i>
        </form>
      </div><!-- col -->
          
    </div><!-- row -->        
  </div><!-- container -->
</header>
<main style="background-color:#FFF;padding-top: 65px;">
  <div class="container-fluid p-0">
    
    {% set sde_count = 0 %}
    {% for sched_ent in sched %}

    {% set sched_date = sched_ent['date'] %}

    <!-- {{ date }} -->
    {% if sched_date == today %}
      {% set today_flag = True %}
    {% else %}
      {% set today_flag = False %}
    {% end %}

    {% if today_flag %}
      {% set border = 'border: 3px solid #0FF !important;' %}
    {% else %}
      {% set border = 'border: 1px solid #888 !important;' %}
    {% end %}
    <div id="date-{{ sched_date }}"
         class="row p-0 m-0 border rounded"
         style="background-color:#EEE;{{ border }}" >

      <!-- 日付 -->
      {% set weekday = sched_date.weekday() %}
      {% if weekday == 5 %}
        {% set bg_color = '#CDF' %}
      {% elif weekday == 6 %}
        {% set bg_color = '#FCC' %}
      {% else %}
        {% set bg_color = '#EFF' %}
      {% end %}

      {% set url = url_prefix %}
      {% set obj = {'date': str(sched_date) } %}
      <div class="col-1 p-0 text-center"
           style="background-color:{{ bg_color }};"
           onmousedown="doPost({{ url }}, {{ obj }});">

        <div class="row p-0 m-0"
             style="font-size: xx-small; font-weight: unset;">
          <div class="col p-0 m-0 text-left">
            &nbsp;{{ sched_ent['date'].month }} /
          </div>
        </div>

        {% if today_flag %}
          {% set font_size = 'large' %}
          {% set font_weight = 'bold' %}
        {% else %}
          {% set font_size = 'medium' %}
          {% set font_weight = 'unset' %}
        {% end %}
        <div class="row p-0 m-0"
             style="font-size: {{ font_size }};
                    font-weight: {{ font_weight }};">
          <div class="col p-0 text-center">
            {{ sched_date.day }}
          </div>
        </div>
        <div class="row p-0 m-0"
             style="font-size: x-small; font-weight: unset;">
          <div class="col p-0 text-right">
            ({{ sched_date.strftime('%a') }})
          </div>
        </div>
      </div><!-- col -->

      <!-- スケジュール -->
      <div class="col-11 p-0">
        {% if today_flag and todo_days_value %}

        <!-- ToDo -->
        {% set todo_flag = True %}
        {% for sde in todo %}
        {% if sde.date <= today + delta_day1 * todo_days_value %}
        {% include sde.html %}
        {% end %}<!-- if sde.date -->
        {% end %}<!-- for sde -->

        {% end %}<!-- if today_flag and todo_days_value -->
                          

        <!-- Normal Schedule -->
        {% set todo_flag = False %}
        {% for sde in sched_ent['sde'] %}
        {% include sde.html %}
        {% end %}
        
      </div><!-- col -->
    </div><!-- row -->
    {% end %}

  </div><!-- container -->
</main>
{% end %}
