{% extends "base.html" %}
{% block content %}
<header>
  <script>
    let clickCount = 0;
    
    const homeButtonHdr = (event) => {
      if( !clickCount ) { // single click
	++clickCount;
	setTimeout(function() {clickCount = 0;}, 350 );
        console.log("single click");
        
        const search_str0 = '{{ search_str }}';
        console.log(`search_str0=${search_str0}`);
        if ( search_str0 ) {
          const el_search = document.getElementById("search_str");
          const search_str = el_search.value;
          console.log(`search_str=${search_str}`);
          doPost('{{ url_prefix }}',
                 {
                   date: '{{ today }}',
                   search_str: search_str
                 } );
        }
        scrollToDate('{{ url_prefix }}', '{{ today }}', 'top');
        
      } else { // double click
        event.preventDefault() ;
	clickCount = 0;
	console.log( "double click" ) ;
        
        doPost('{{ url_prefix }}',
               {date: '{{ today }}', sde_align: 'top'} );
      }
    };

    const onloadHdr = (event) => {
      elMain = document.getElementById("main"); // declared in my.js

      const el_home_button = document.getElementById("home_button");
      el_home_button.addEventListener("mousedown", homeButtonHdr);
      
      const el_menu_bar = document.getElementById("menu_bar");
      const menu_bar_height = el_menu_bar.offsetHeight;
      document.body.style.paddingBottom = `${menu_bar_height}px`;
      
      const body_h = document.body.clientHeight;
      const win_h = document.documentElement.clientHeight;
      const centerY = win_h / 2 + 40;
      console.log(`centerY=${centerY}`);

      let gage = [
          {% for i, d in enumerate(gage) %}
          {
            id: 'gage_r{{ i }}',
            label: '{{ d['label'] }}',
            yOffset: {{ d['y_offset'] }}
          },
          {% end %}
      ];

      for (let g of gage) {
        console.log(`g={${g.id},${g.yOffset}},${centerY - g.yOffset}`);
        const el = document.getElementById(g.id);
        el.style.bottom = `${centerY - g.yOffset}px`;
      }

      const elGageRBase = document.getElementById("gage_r_base");

      elGageR0 = document.getElementById("gage_r"); // declared in my.js
      elGageRBase.style.bottom = `${centerY}px`;

      if ( body_h < win_h ) {
        console.log(`body_h=${body_h} < win_h=${win_h}`);
        const date_from_str = document.getElementById("date_from").value;
        dispGage(date_from_str);
        elMain.style.visibility = "visible";
        return;
      }

      const el_sde_align = document.getElementById("sde_align");
      const el_date = document.getElementById("date");
      scrollToDate(location.pathname,
                   el_date.value, el_sde_align.value,
                   "auto");
      
      const el_search = document.getElementById("search_str");
      console.log(`onload(): search_str="${el_search.value}"`);
      if (el_search.value == "") {
        window.addEventListener('scroll', scrollHdr0, {passive:true});
      } else {
        const date_from_str = document.getElementById("date_from").value;
        dispGage(date_from_str);
      }
    }; // onloadHdr()
    
    const changeSearchN = (val) => {
      console.log(`changeSearchN: val=${val}`);
      doPost({{ url_prefix }}, {date: cur_day.value, search_n: val} );
    };

    window.addEventListener('load', onloadHdr);
  </script>
</header>
<main id="main" style="background-color:#FFF; visibility: hidden;
                       padding-left:22px">
  <div class="container-fluid p-0">
    
    <!-- hidden params -->
    <input id="sde_align" name="sde_align"
           type="hidden" value="{{ sde_align }}" />
    <input id="date_from" name="date_from"
           type="hidden" value="{{ date_from }}" />
    <input name="cur_day"
           type="hidden" value="{{ date }}" />
    <input id="date_to" name="date_to"
           type="hidden" value="{{ date_to}}" />
    <input id="search_n" name="search_n"
           type="hidden" value="{{ search_n }}" />

    <!-- gages -->
    <div id="gage_r" class="my-osd-base my-gage"
         style="left: 1px; opacity: 0.2;">
      <!-- <i class="far fa-dot-circle"></i> -->
      <i class="fas fa-caret-right fa-2x my-gage-text"></i>
    </div>

    <div id="gage_r_base" class="my-osd-base my-gage"
         style="left: 3px;">
      <i class="fas fa-grip-lines fa-xs my-gage-text"></i>
      <!-- <i class="fas fa-caret-left fa-2x"></i> -->
    </div>

    {% for i, d in enumerate(gage) %}
    <div id="gage_r{{ i }}" class="my-osd-base my-gage my-gage-text"
         style="font-size:x-small; left:1px;">
      <span>{{ d['label'] }}</span>
    </div>
    {% end %}

    {% if search_str %}
        {% set date_from2 = str(date_from).replace('-','/') %}
        {% set date_to2 = str(date_to).replace('-','/') %}
        {% set date2 = str(date).replace('-', '/') %}
        {% set delta_from = (date_from - date) / date.resolution %}
        {% set delta_to = (date_to - date) / date.resolution %}

    <div class="row m-0 my-bar">
      <!-- backward -->
      <div class="col-2 p-0 text-center my-btn"
           onmousedown="doPostDate(
                        '{{ url_prefix }}',
                        '{{ date }}',
                        {{ str(date_from - date_to)[:-14] }} );">
        <i class="fas fa-search fa-lg fa-spin"
           style="vertical-align: middle;"></i><br />
        <i class="fas fa-arrow-alt-circle-up fa-lg"
           style="vertical-align: middle;"></i>
      </div><!-- col -->

      <!-- 検索期間・件数 -->
      <div class="col-10 p-0 text-left">
        <span style="font-size: large;">
          {{ date_from.strftime('%Y/%m/%d') }}
        </span>

        <i class="fas fa-arrows-alt-h"></i>

        <input type="date" value="{{ date_to }}"
               onchange="doPostDate('{{ url_prefix }}',
                         this.value, 0);" />
        <br />
        <span style="font-size: small;">目標件数</span>
        <select id="search_n_in" name="search_n_in"
                style="vertical-align; middle;"
                onchange="changeSearchN(this.value);">
          {% for v in [1, 2, 3, 4, 5, 10, 20, 50, 100] %}
            {% if v == search_n %}
          <option value="{{ v }}" selected>{{ v }}件</option>
            {% else %}
          <option value="{{ v }}">{{ v }}件</option>
            {% end %}
          {% end %}
        </select>
        {% set days = date_to - date_from + delta_day1 %}
        (in {{ str(days)[:-9] }})
      </div>
    </div>
    {% end %}

    {% set sde_count = 0 %}
    {% set year=0 %}

    {% for sched_ent in sched %}

    {% set sched_date = sched_ent['date'] %}

    <!-- {{ sched_date }} -->
    {% set today_flag = False %}
    {% set date_border = 'border: 2px solid #888 !important;' %}
    {% if sched_date == today %}
      {% set today_flag = True %}
      {% set date_border = 'border: 4px solid #28F !important;' %}
    {% end %}

    {% if sched_date == date %}
      {% set class_blink = 'blink' %}
    {% else %}
      {% set class_blink = '' %}
    {% end %}

    {% if search_str %}
      {% if int(sched_date.year) != int(year) %}
        {% set year=sched_date.year %}
        <strong>{{ year }}</strong>
      {% end %}
    {% end %}
    <div id="date-{{ sched_date }}"
         class="row p-0 m-0 border"
         style="background-color: #EEE;
                border-radius: 0px 15px 15px 0px;
                {{ date_border }}">

      <!-- 日付 -->
      {% set weekday = sched_date.weekday() %}
      {% set bg_color_wday = [ '#EFFFFF', '#E4F8FE', '#E0EFFD', '#D4EBFC',
                               '#D0E0FB', '#C0D4FA', '#FFCCCC' ] %}
      {% set bg_color = bg_color_wday[weekday] %}

      {% set url = url_prefix %}
      {% set obj = {'date': str(sched_date), 'search_str': '' } %}
      <div class="col-1 p-0 text-center my-btn {{ class_blink }}"
           style="background-color: {{ bg_color }};
                  border: 1px #888 solid;
                  border-radius: 0px 5px 10px 0px;"
           onmousedown="doPost({{ url }}, {{ obj }});">

        {% set font_size = 'large' %}
        {% set font_weight = 'unset' %}
        {% if today_flag %}
          {% set font_weight = 'bold' %}
        {% end %}

        <div style="text-align: left;
                    font-size: x-small;
                    font-weight: {{ font_weight }};
                    line-height: 12px;">
          {{ sched_date.strftime('%y/%m') }}
        </div>
        <div style="text-align: center;
                    font-size: {{ font_size }};
                    font-weight: {{ font_weight }};
                    line-height: 16px">
          {{ '%02d' % sched_date.day }}
        </div>
        <div style="text-align: right;
                    font-size:x-small;
                    font-weight:{{ font_weight }};
                    line-height: 12px">
          ({{ sched_date.strftime('%a') }})
        </div>
        {% set days = (sched_date - today).days %}
        {% from monthdelta import monthmod %}
        {% set months = monthmod(today, sched_date) %}
        <div style="text-align: center;
                    font-size: x-small;
                    font-weight:{{ font_weight }};
                    line-height: 14px">
          {{ '%+d' % days }}
        </div>
      </div><!-- col -->

      <!-- スケジュール -->
      <div class="col-11 p-0">
        <!-- Normal Schedule -->
        {% for sde in sched_ent['sde'] %}
          {% include sde.html %}
        {% end %}
        
        {% if today_flag and todo_days_value %}
          <!-- ToDo -->
          {% for sde in todo %}
            {% if sde.date <= today + delta_day1 * todo_days_value %}
              {% include sde.html %}
            {% end %}<!-- if sde.date -->
          {% end %}<!-- for sde -->
        {% end %}<!-- if today_flag and todo_days_value -->
         <div class="text-center my-btn" style="opacity: .4;"
           onmousedown="doPost(
                        '{{ url_prefix + 'edit/' }}',
                        {date: '{{ sched_date }}', sde_id: ''} );">
           <i class="fas fa-plus-square"></i>
         </div>                              
      </div><!-- col -->
    </div><!-- row -->

    {% end %}<!-- for sched_ent -->

  </div><!-- container -->
</main>
<footer>
  <!-- menu bar -->
  <div id="menu_bar" class="container-fluid p-2 fixed-bottom my-bar"
       style="z-index:2;">
    <div class="row m-0">

      <!-- menu_sw -->
      <div class="col-2 p-0 text-center">
        <label for="menu-sw" class="m-0 my-btn">
          &nbsp;
          &nbsp;
          <i class="fas fa-bars fa-lg"
             style="vertical-align: middle;"></i>
          &nbsp;
          &nbsp;
        </label>
      </div><!-- col -->

      <!-- back -->
      <div id="back_button" class="col-1 p-0 text-center my-btn"
           onmousedown="moveToMonday(-1, '{{ url_prefix }}');">
        <i class="fas fa-chevron-left"></i>
      </div><!-- col -->

      <!-- forward -->
      <div id="forward_button" class="col-1 p-0 text-center my-btn"
           onmousedown="moveToMonday(1, '{{ url_prefix }}');">
        <i class="fas fa-chevron-right"></i>
      </div><!-- col -->

      <!-- home -->
      <div id="home_button" class="col-3 p-0 text-center my-btn">
        <span style="display: inline-block;
                     font-size: xx-small;
                     font-weight: bold;
                     line-height: 8px;
                     text-align: left;
                     vertical-align: middle;">
          {{ today.year }}<br />
          {{ today.strftime('%m/') }}
          <span style="font-size: x-small;">
            {{ today.strftime('%d') }}
          </span><br />
          &nbsp;&nbsp; {{ today.strftime('(%a)') }}
        </span>
        <i class="fas fa-home fa-lg"
           style="vertical-align: middle;"></i>
      </div><!-- col -->

      <!-- search -->
      <div class="col-5 p-0 text-right" style="font-size: medium;">
        <form id="form_search" name="form_search"
              action="{{ url_prefix }}" method="POST">

          {% if search_str %}
            {% set search_spin="fa-spin" %}
          {% else %}
            {% set search_spin="" %}
          {% end %}
          <i class="fas fa-search fa-lg my-btn {{ search_spin }}"
             style="vertical-align: middle;"
             onmousedown="document.form_search.submit();"></i>
          <input id="search_str" name="search_str"
                 type="text" size="9"
                 style="font-size: small; vertical-align: middle;"
                 value="{{ search_str }}" />
          <i class="fas fa-backspace fa-lg my-btn"
             style="vertical-align: middle;"
             onmousedown="search_str.value='';"></i>

          <input id="cur_day" name="cur_day"
                 type="hidden" value="{{ date }}" />
        </form>
      </div><!-- col -->

    </div><!-- row -->
  </div><!-- container -->

  <input id="menu-sw" type="checkbox" style="display:none;">

  <div class="container-fluid p-0 fixed-bottom my-bar my-bar-content"
       style="z-index: 100;">

    <div id="menu-content" class="row m-1">
      <div class="col-6" style="font-size: small;">
        Version {{ version }}
        <span style="font-size: xx-small;">
          ({{ sd.get_cache_size() }})</span>
      </div>
      <div class="col-6 text-right" style="font-size: small">
        (c) 2020 <strong>{{ author }}</strong>
      </div>
      
    </div><!-- row -->
    <div id="menu-content" class="row m-1">

      <!-- date -->
      <div class="col-5 p-0 text-center">
        <input id="date" name="date"
               type="date" value="{{ date }}"
               onchange="doPost('{{ url_prefix }}',
                         {date:this.value});"/>
      </div><!-- col -->
      
      <!-- ToDo days -->
      <div class="col-3 p-0 text-center">
        <form id="todo_days_form" name="todo_days_form"
              action="{{ url_prefix }}" method="POST">
          <i class="fas fa-list-alt fa-lg"
             style="vertical-align: middle;"></i>
          <select id="todo_days" name="todo_days"
                  style="vertical-align: middle;"
                  onchange="document.todo_days_form.submit();">
            {% for opt in todo_days_list %}
            {% if todo_days_list[opt] == todo_days_value %}
            <option value="{{ todo_days_list[opt] }}" selected>
              {{ opt }}
            </option>
            {% else %}
            <option value="{{ todo_days_list[opt] }}">
              {{ opt }}
            </option>
            {% end %}
            {% end %}
          </select>
        </form>
      </div><!-- col -->

      <!-- filter -->
      <div class="col-4 p-0 text-center" style="font-size: small;">
        <form id="form_filter" name="form_filter"
              action="{{ url_prefix }}" method="POST">
          <i class="fas fa-filter fa-2x my-btn"
             style="vertical-align: middle;"
             onmousedown="document.form_filter.submit();"></i>
          <input id="filter_str" name="filter_str" type="text" size="7"
                 style="vertical-align: middle;"
                 value="{{ filter_str }}" />
          <input name="cur_day"
                 type="hidden" value="{{ date }}" />
        </form>
      </div><!-- col -->
    </div><!-- row -->        
  </div><!-- container -->
</footer>
{% end %}
