{% extends "base.html" %}
{% block content %}
<header>
  <input id="date_from" name="date_from" value="{{ date_from }}" />
  <input id="cur_day" name="cur_day" value="{{ date }}" />
  <input id="date_to" name="date_to" value="{{ date_to}}" />
  <div class="container-fluid p-0 fixed-top my-bar">
    <div class="row p-0 m-0">

      <div class="col-7 p-0">

        <div class="row p-0 m-0">
          <div class="col-3 p-0 text-center">
            <i class="fas fa-caret-square-left fa-2x"
               onclick="moveDays('{{ url_prefix }}', -7);"></i>
          </div><!-- col -->
          <div class="col-2 p-0 text-center">
            <i class="fas fa-calendar-day fa-2x"
               onclick="scrollToDate('{{ url_prefix }}', '{{ today }}');"></i>
          </div><!-- col -->
          <div class="col-3 p-0 text-center">
            <i class="fas fa-caret-square-right fa-2x"
               onclick="moveDays('{{ url_prefix }}', +7);"></i>
          </div><!-- col -->
          <div class="col-2 text-center">
            <i class="fas fa-plus-square fa-2x"></i>
          </div><!-- col -->
          <div class="col-2 text-center">
            &nbsp;
          </div><!-- col -->
        </div><!-- row -->

        <div class="row p-0 m-0">
          <div class="col-8 p-0 text-center">
            <small><input id="date" name="date"
                          type="date" value="{{ date }}"
                          onchange="execGet('{{ url_prefix }}', {date: this.value});"/></small>
          </div><!-- col -->
          <div class="col-4 p-0 text-center">
            &nbsp;
          </div><!-- col -->
        </div><!-- row -->

      </div><!-- col -->

      <div class="col-5 text-right">

        <div class="row align-middle">
          <div class="col-3 text-right p-0">
            <i class="fas fa-filter"></i>
          </div><!-- col -->
          <div class="col-9 text-center p-0">
            <small><input type="text" size="9" /></small>
          </div><!-- col -->
        </div><!-- row -->

        <div class="row align-middle">
          <div class="col-3 text-right p-0">
            <i class="fas fa-search"></i>
          </div><!-- col -->
          <div class="col-9 text-center p-0">
            <small><input type="text" size="9" /></small>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- col -->

    </div><!-- row -->
  </div><!-- container -->
</header>
<main style="background-color:#FFF;padding-top: 60px;">
  <div class="container-fluid p-0">
    
    {% set sde_count = 0 %}
    {% for sched_ent in sched %}
    {% set sched_date = sched_ent['date'] %}
    <!-- {{ date }} -->
    {% if sched_date == today %}
    {% set border = 'border: 3px solid #0FF !important;' %}
    {% else %}
    {% set border = 'border: 1px solid #888 !important;' %}
    {% end %}
    <div id="date-{{ sched_date }}"
         class="row p-0 m-0 border rounded"
         style="background-color:#EEE;{{ border }}" >
      {% set weekday = sched_date.weekday() %}
      {% if weekday == 5 %}
        {% set bg_color = '#CDF' %}
      {% elif weekday == 6 %}
        {% set bg_color = '#FCC' %}
      {% else %}
        {% set bg_color = '#EFF' %}
      {% end %}

      {% set url = url_prefix %}
      {% set obj = {'date': sched_date } %}
      <div class="col-1 p-0 text-center"
           style="background-color:{{ bg_color }};"
           onclick="execGet(url, obj);">
        <span style="font-size: x-small; font-weight: unset;">
          {{ sched_ent['date'].month }} /<br />
        </span>
        
        {% if sched_date == today %}
          {% set font_size = 'large' %}
          {% set font_weight = 'bold' %}
        {% else %}
          {% set font_size = 'small' %}
          {% set font_weight = 'unset' %}
        {% end %}
        <span
          style="font-size:{{ font_size }};font-weight:{{ font_weight }};">
          {{ sched_date.day }}<br />
        </span>
        <span style="font-size: x-small; font-weight: unset;">
          {{ sched_date.strftime('%a') }}
        </span>
      </div><!-- col -->
      
      <div class="col-11 p-0">
        {% for sde in sched_ent['sde'] %}
        {% set sde_count = sde_count + 1 %}
        <input id="sde_id" name="sde_id"
               type="hidden" value="{{ sde.id }}" />
        {% if sde_count % 2 == 0 %}
        {% set bg_color = '#FFF' %}
        {% else %}
        {% set bg_color = '#FFF' %}
        {% end %}
        {% set url = url_prefix + '/edit/' %}
        <div class="container-fluid p-0 border"
             style="background-color:{{ bg_color }};"
             onclick="execGet('{{ url }}', {date: '{{ sched_date }}', sde_id: '{{sde.id }}'})">
          <div class="row m-0">
            <div class="col p-0">
              <span style="font-size: x-small;">
                {% if sde.time_start or sde.time_end %}
                {% if sde.time_start %}
                {{ sde.time_start.strftime('%H:%M') }}
                {% end %}
                -
                {% if sde.time_end %}
                {{ sde.time_end.strftime('%H:%M') }}
                {% end %}
                {% end %}
              </span>
              {% set important_flag = False %}
              {% if sde.title and sde.title[0] in ['★', '☆'] %}
              {% set important_flag = True %}
              {% end %}
              {% if important_flag %}
              <strong>
                {% end %}
                <span style="font-size: small;">
                  {% if sde.type %}
                  [{{ sde.type }}]
                  {% end %}
                  {{ sde.title }}
                  {% if sde.place %}
                  @{{ sde.place }}
                  {% end %}
                </span>
                {% if important_flag %}
              </strong>
              {% end %}
            </div><!-- col -->
          </div><!-- row -->
          <div class="row m-0">
            <div class="col" style="font-size: x-small;">
              <pre>{{ '\n'.join(sde.text.split('\n')[0:4]) }}</pre>
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->
        {% end %}
        
      </div><!-- col -->
    </div><!-- row -->
    {% end %}

  </div><!-- container -->
</main>
{% end %}
