<!DOCTYPE HTML>
<html>
  <head lang="jp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}: {{ version }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/ytsched/static/css/my.css">

    <script type="text/javascript"
            src="/ytsched/static/js/my_cookie.js"></script>
    <script type="text/javascript"
            src="/ytsched/static/js/my.js"></script>
  </head>
  <body style="background-color: lightgrey;">
    <header>
      <div class="container">
        <div class="row">
          <div class="col">
            <strong>[page1]</strong>
            <a href="/ytsched/page2/">[page2]</a>
          </div>
        </div>
      </div>
      <hr />
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h1 class="text-center">{{ title }}</h1>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col text-center">
            <textarea id="message_area" cols="35" rows="10"
                      readonly
                      placeholder="メッセージ">
            </textarea>
            <br />
            <input id="my_name" type="text" size="5"
                   onChange="set_name();" />
            <input id="my_msg" type="text" size="20"
                   onChange="send_msg();" />
          </div> <!-- col -->
        </div> <!-- row -->
        <hr />
        <div class="row">
          <div class="col-12 text-center">
            <form enctype="multipart/form-data"
                  action="/ytsched/"
                  method="post">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <select id="param1" name="param1">
                      {% for param in param_list.keys() %}
                      {% if param == param1 %}
                      <option value="{{ str(param) }}" selected>
                        {{ param_list[param] }}</option>
                      {% else %}
                      <option value="{{ str(param) }}">
                        {{ param_list[param] }}</option>
                      {% end %}
                      {% end %}
                    </select>
                    <hr />
                    <!--
                        [重要！]

                        form内部のbuttonでは、
                        id="xxx" と
                        onclick="xxx();"
                        の名前が重複すると関数が呼ばれない！
                      -->
                    <button type="button"
                            id="button_music_rewind"
                            onclick="music_rewind();">
                      <i class="fas fa-step-backward fa-2x"></i>
                    </button>
                    <button type="button"
                            id="button_music_backward"
                            onclick="music_shift(-5);">
                      <i class="fas fa-backward fa-2x"></i>
                    </button>
                    <button type="button"
                            id="button_music_stop"
                            onclick="music_stop();">
                      <i class="fas fa-stop fa-2x"></i>
                    </button>
                    <button type="button"
                            id="button_music_play"
                            onclick="music_play();">
                      <i class="fas fa-play fa-2x"></i>
                    </button>
                    <button type="button"
                            id="button_music_pause"
                            onclick="music_pause();">
                      <i class="fas fa-pause fa-2x"></i>
                    </button>
                    <button type="button"
                            id="button_music_forward"
                            onclick="music_shift(5);">
                      <i class="fas fa-forward fa-2x"></i>
                    </button>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <h4 class="text-center">{{ msg }}</h4>
                    <input type="file" name="file1"
                           value=""
                           onchange="this.form.submit();"
                           onclick="(el) => {el.target.value ='';};" />
                    <br />
                    ({{ size_limit }} {{ size_unit }}以下)
                  </div>
                </div>
              </div>
            </form>
          </div> <!-- col -->
        </div> <!-- row -->
       </div> <!-- container -->
    </main>
    <footer>
      <hr />
      <div class="container">
        <div class="row">
          <div class="col-6">
            Version {{ version }}
          </div>
          <div class="col-6 text-right">
            (c) 2020 <strong>{{ author }}</strong>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
  </body>
</html>
