<!--
{% set sde_count = sde_count + 1 %}
{% set url = url_prefix + 'edit/' %}

{% set bg_color = '#FFF' %}
{% if sde.is_todo() %}
  {% set bg_color = '#FFE' %}
  {% if sde.date < today %}
    {% set bg_color = '#EEB' %}
  {% elif sde.date <= today + delta_day1 * 7 %}
    {% set bg_color = '#FFC' %}
  {% end %}
{% end %}

{% set time_start = '' %}
{% if sde.time_start %}
  {% set time_start = sde.time_start.strftime('%H:%M') %}
{% end %}

{% set time_end = '' %}
{% if sde.time_end %}
  {% set time_end = '-' + sde.time_end.strftime('%H:%M') %}
{% end %}

{% set sde_type = '' %}
{% if sde.type %}
  {% if sde.is_todo() %}
    {% if len(sde.type) > 1 %}
      {% set sde_type = '[' + sde.type[1:] + ']' %}
    {% end %}
  {% else %}
    {% set sde_type = '[' + sde.type + ']' %}
  {% end %}
{% end %}

{% set sde_title = '(no title)' %}
{% if sde.title %}
  {% set sde_title = sde.title %}
{% end %}

{% set place = '' %}
{% if sde.place %}
  {% set place = '@' + sde.place %}
{% end %}

{% set detail = sde.text.rstrip('\n') %}

{% if sde.is_important() %}
  {% set title_font_style="font-size: medium; font-weight: bold" %}
{% else %}
  {% if sde_title.startswith('(')  %}
    {% set title_font_style="font-size: small; font-weight: normal" %}
  {% else %}
    {% set title_font_style="font-size: medium; font-weight: normal" %}
  {% end %}
{% end %}

-->
<input id="sde_id" name="sde_id"
       type="hidden" value="{{ sde.id }}" />

{% if sde.is_canceled() %}
<del>
{% end %}
<div class="container-fluid p-0 border"
     style="background-color:{{ bg_color }};">
    <div class="row m-0">
      {% if not sde.is_todo() %}
      <div class="col-1 p-0 text-left"
           style="font-size:xx-small; font-weight:bold; line-height: 12px">
        {{ time_start }}<br/>{{ time_end }}
      </div>
      {% else %}
      <div class="col-1 p-0 text-center">
        <i class="far fa-square fa-xs" style="vertical-aline: top;"></i>
      </div>
      {% end %}<!-- if not todo -->
      <div class="col-11 p-0"
           onclick="doPost('{{ url }}',
                    { date:'{{ sched_date }}',
                    sde_id: '{{sde.id }}',
                    todo_flag: {{ str(sde.is_todo()).lower() }} } );">
        {% if sde.is_todo() %}

          {% if sde.date != sched_date %}
          {% set sde_date = str(sde.date).replace('-', '/') %}
        <span style="font-size:xx-small; font-weight:bold; display:inline-flex; vertical-align:top; line-height:12px">
          {{ sde_date[0:4] }}<br />{{ sde_date[5:] }}
        </span>
          {% end %}<!-- sde.date != sched_date -->

        <span style="font-size:xx-small; font-weight:bold; display:inline-flex; vertical-align:top; line-height:12px">
          {{ time_start }}<br />{{ time_end }}
        </span>
        {% end %}<!-- if todo -->

        <span style="font-size: small;">
          {{ sde_type }}
        </span>
        <span style="{{ title_font_style }}">
          {{ sde_title }}
        </span>
        <span style="font-size: small">
          {{ place }}
        </span>
      </div><!-- col -->
    </div><!-- row -->
    {% if detail %}
    <div class="row m-0">
      <div class="col-1 p-0"></div><!-- col -->
      <div class="col-11 p-0 longtext" tabindex="0"
           style="font-size: small;">{{ detail }}</div><!-- col -->
    </div><!-- row -->
    {% end %}
</div><!-- container -->
{% if sde.is_canceled() %}
</del>
{% end %}
