{% set sde_count = sde_count + 1 %}

{% set todo_flag = False %}
{% set bg_color = '#FFF' %}
{% if sde.is_todo() %}
  {% set todo_flag = True %}
  {% set bg_color = '#FFE' %}
  {% if sde.date < today %}
    {% set bg_color = '#EEB' %}
  {% elif sde.date <= today + delta_day1 * 7 %}
    {% set bg_color = '#FFC' %}
  {% end %}
{% end %}

{% set url = url_prefix + 'edit/' %}

{% if sde.is_canceled() %}
  {% set cancel_flag = True %}
{% else %}
  {% set cancel_flag = False %}
{% end %}

{% if sde.is_important() %}
  {% set important_flag = True %}
  {% set title_font_style="font-size: medium; font-weight: bold" %}
{% else %}
  {% set important_flag = False %}
  {% if not sde.title or sde.title.startswith('(')  %}
    {% set title_font_style="font-size: small; font-weight: normal" %}
  {% else %}
    {% set title_font_style="font-size: medium; font-weight: normal" %}
  {% end %}
{% end %}
<input id="sde_id" name="sde_id"
       type="hidden" value="{{ sde.id }}" />

<div class="container-fluid p-0 border"
     style="background-color:{{ bg_color }};">
  {% if cancel_flag %}
  <del>
  {% end %}
    {% set detail = sde.text.rstrip('\n') %}
    <div class="row m-0">
        {% if todo_flag %}
      <div class="col-1 p-0 text-center">
        <i class="far fa-square" style="vertical-aline: center;"></i>
      </div>
        {% else %}
      <div class="col-1 p-0 text-left" style="font-size: xx-small;">
        {% if sde.time_start or sde.time_end %}
          {% if sde.time_start %}
            {{ sde.time_start.strftime('%H:%M') }}
          {% end %}
        <br/>
        -
          {% if sde.time_end %}
            {{ sde.time_end.strftime('%H:%M') }}
          {% end %}
        {% end %}
      </div>
        {% end %}
      <div class="col-11 p-0"
           onclick="doPost('{{ url }}',
                    { date:'{{ sched_date }}',
                      sde_id: '{{sde.id }}',
                      todo_flag: {{ str(todo_flag).lower() }} } );">
          {% if todo_flag %}
                   <div class="container-fluid p-0"
                        style="font-size: xx-small; display: inline-block; width: 30px; vertical-align: middle;">
                     <div class="row m-0">
                       <div class="col p-0">
                         {{ str(sde.date)[0:4] }}
                       </div>
                     </div>
                     <div class="row m-0">
                       <div class="col p-0">
                         {{ str(sde.date)[5:].replace('-','/') }}
                       </div>
                     </div>
                   </div>
            {% if sde.time_start or sde.time_end %}
              {% if sde.time_start %}
                {{ sde.time_start.strftime('%H:%M') }}
              {% end %}
              ～
              {% if sde.time_end %}
                {{ sde.time_end.strftime('%H:%M') }}
              {% end %}
            {% end %}
          {% end %}
        <span style="font-size: small;">
          {% if sde.type %}
            {% if todo_flag %}
              {% if len(sde.type) > 1 %}
                [ {{ sde.type[1:] }} ]
              {% end %}
            {% else %}
              [ {{ sde.type }} ]
            {% end %}
          {% end %}
          <span style="{{ title_font_style }}">
          {% if not sde.title %}
            (no title)
          {% else %}
            {{ sde.title }}
          {% end %}
          </span>
          {% if sde.place %}
            <span class="longtext">@{{ sde.place }}</span>
          {% end %}
        </span>
      </div><!-- col -->
    </div><!-- row -->
    {% if detail %}
    <div class="row m-0">
      <div class="col-1 p-0"></div><!-- col -->
      <div class="col-11 p-0 longtext" tabindex="0"
           style="font-size: small;">{{ detail }}</div><!-- col -->
    </div><!-- row -->
    {% end %}
  {% if cancel_flag %}
  </del>
  {% end %}
</div><!-- container -->
