.my-bar {
    color: white;
    background-color: #48C;
}

.my-bar-content {
    position: fixed;
    bottom: -50px;
    width: 100%;
    transition: all 0.05s;
}

#menu-sw:checked ~ .my-bar-content {
    bottom: 42px;
}

.my-osd-base {
    position: fixed;
    z-index: 10;
}

.my-osd {
    text-align: right;
    font-size: large;
    font-weight: normal;
    line-height: 17px;
    color: #FFF;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 15px 0px 0px 15px;
    padding: 5px;
    opacity: 0.6;
}

.my-gage {
    vertical-align: middle;
    font-size: large;
    font-weight: normal;
    line-height: 17px;
    color: #000;
    /* background-color: #FFF; */
    padding: 0px;
    opacity: 0.4;
}

.longtext {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;

}

.longtext:focus {
    border: 1px solid #FFF;
    white-space: pre-wrap;
    width: auto;
    overflow: visible;
    text-overflow: clip;

}

.my-btn:active {
    background-color: yellow !important;
}
