.my-bar {
    color: white;
    background-color: #48C;
}

.my-bar-content {
    position: fixed;
    top: -100px;
    width: 100%;
    /* transition: all 0.5s;*/
}

#menu-sw:checked ~ .my-bar-content {
    top: 33px;
}

.longtext {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;

}
.longtext:focus {
    border: 1px solid #FFF;
    white-space: pre-wrap;
    width: auto;
    overflow: visible;
    text-overflow: clip;

}
