@keyframes blinkborder {
    0% { border: 1px solid #00F !important };
    50% { border: 1px solid #F00 !important };
}


.blinkborder {
/*    border: 1px solid #0F0 !important; */
    animation: blinkborder 1s alternate !important;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        background-color: #8F8;
    }
}

.blink {
    animation: blink .5s ease-in-out alternate;
    animation-iteration-count: 10;
}

.my-bar {
    color: white;
    background-color: #48C;
}

.my-bar-content {
    position: fixed;
    bottom: -60px;
    width: 100%;
    transition: all 0.05s;
}

#menu-sw:checked ~ .my-bar-content {
    bottom: 42px;
}

.my-osd-base {
    position: fixed;
    z-index: 10;
}

.my-osd {
    text-align: right;
    font-size: large;
    font-weight: normal;
    line-height: 17px;
    color: #FFF;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 15px 0px 0px 15px;
    padding: 5px;
    opacity: 0.6;
}

.my-gage {
    vertical-align: middle;
    font-size: large;
    font-weight: normal;
    line-height: 17px;
    color: #000;
    /* background-color: #FFF; */
    padding: 0px;
}
.my-gage-text {
    display: inline-block;
    transform: translate(0%, 50%);
}

.longtext {
    border: 1px solid #CCC;
    border-radius: 0px 0px 10px 0px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
.longtext:focus {
    border: 1px solid #888;
    width: auto;
    white-space: pre-wrap;
    overflow: visible;
    text-overflow: clip;
}
*/

.longtext-sw:checked ~ .longtext {
    border: 1px solid #CCC;
    border-radius: 0px 0px 10px 0px;
    width: auto;
    white-space: pre-wrap;
    overflow: visible;
    text-overflow: clip;
}

.my-btn:active {
    background-color: yellow !important;
}
