.my-bar {
    color: white;
    background-color: #48C;
}

.my-bar-content {
    position: fixed;
    bottom: -50px;
    width: 100%;
    transition: all 0.05s;
}

#menu-sw:checked ~ .my-bar-content {
    bottom: 42px;
}

.longtext {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;

}
.longtext:focus {
    border: 1px solid #FFF;
    white-space: pre-wrap;
    width: auto;
    overflow: visible;
    text-overflow: clip;

}
